<!DOCTYPE html>
<html>
	<head>
		<title>Voting App</title>
		<link
			id="favicon"
			rel="icon"
			href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
			type="image/x-icon"
		/>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/public/style.css" />
	</head>
	<body>
		<header id="header">
			<div>Welcome <span id="username"></span></div>
			<div>
				<a href="/">Home</a>
				<a href="/signup">Sign up</a>
			</div>
		</header>

		<form id="login">
			<input
				type="text"
				placeholder="Enter your username"
				name="username"
				autofocus
				autocomplete
				required
			/>
			<input
				type="password"
				placeholder="Enter your password"
				name="password"
				autocomplete
				required
			/>
			<button type="submit">Submit</button>
		</form>

		<div>
			Don't have an account?
			<a href="/signup">Sign up</a>
		</div>

		<div id="error" class="error"></div>

		<!-- Your web-app is https, so your scripts need to be too -->
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
		<script>
			$(function () {
				$("#login").submit((e) => {
					$.ajax({
						url: `/api/auth/login`,
						type: "post",
						data: $("#login").serialize(),
						success: (data) => {
							Cookies.set("username", data.username);
							Cookies.set("userId", data.id);
							document.location.href = "../";
						},
						error: (err) => {
							$("#error").text(
								(err.responseJSON &&
									err.responseJSON.message) ||
									"Login error. Try again"
							);
						},
					});
					e.preventDefault();
				});
			});
		</script>
	</body>
</html>
