<!DOCTYPE html>
<html>
	<head>
		<title>Voting App</title>
		<link
			id="favicon"
			rel="icon"
			href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
			type="image/x-icon"
		/>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/public/style.css" />
	</head>
	<body>
		<header id="header">
			<div>Welcome <span id="username"></span></div>
			<div id="navigation">
				<a href="/">Home</a>
			</div>
		</header>

		<div id="polls"></div>

		<div id="error" class="error"></div>

		<!-- Your web-app is https, so your scripts need to be too -->
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
		<script src="/public/client.js"></script>
		<script>
			$(function () {
				const userId = Cookies.get('userId');
				$.ajax({
					url: `/api/polls`,
					type: 'get',
					data: `user_id=${userId}`,
					success: (data) => {
						if (data.length) {
							$('#polls').html('');

							data.forEach((element, index) => {
								const sectionId = `section-${new Date().getTime()}`;

								$('#polls').append(
									`<section id="${sectionId}"/>`
								);
								$(`#${sectionId}`).append(
									`<h2>${index + 1}. ${element.question}</h2>`
								);
								$(`#${sectionId}`).append(
									`<div>Created by: <span>${element.created_by.username}</span></div>`
								);

								$(`#${sectionId}`).append(
									`<a href="/polls/${element.id}">Detail</a>`
								);

								const optionsId = `options-${new Date().getTime()}`;

								$(`#${sectionId}`).append(
									`<div id="${optionsId}" />`
								);

								element.options.forEach((option) => {
									$(`#${optionsId}`).append(
										`<div><span>${option.name}</span>: <span>${option.votes.length}</span></div>`
									);
								});
							});
						} else {
							$('#polls').html(
								'You have no poll. <a href="/new-poll">Create poll</a>'
							);
						}
					},
					error: (err) => {
						console.error('Get polls error', JSON.stringify(err));
						$('#error').text('Server Error. Refresh the page');
					},
				});
			});
		</script>
	</body>
</html>
